<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天猫</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="css/site-nav.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/content.css">
  <link rel="stylesheet" href="css/brandWall.css">
  <link rel="stylesheet" href="css/newFloor.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/float-item.css">
</head>

<body>

  <div id="slideDownSearchBox">
    <div class="sdsb-wrap">
      <span>TMALL 天猫</span>
      <input type="text" placeholder="搜索 天猫 商品/品牌/店铺">
      <input type="button" value="搜索">
    </div>
  </div>

  <div id="w1230">
    <!-- 导航页 -->
    <div id="site-nav">
      <div class="sn-container">
        <div class="sn-left">
          <a href="javascript:void(0);">喵，欢迎来天猫</a>
          <a href="javascript:void(0);">请登录</a>
          <a href="javascript:void(0);">免费注册</a>
        </div>
        <div class="sn-right">
          <ul class="sn-ul">
            <li class="sn-li">
              <div class="li-nav-top li-nav-down">
                <a href="javascript:void(0);">我的淘宝</a>
                <i class="fa fa-sort-down"></i>
              </div>
              <div class="li-nav-slide li-nav-small">
                <a href="javascript:void(0);">已买到的宝贝</a><br>
                <a href="javascript:void(0);">已卖出的宝贝</a>
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-ds">
                <i class="fa fa-shopping-cart"></i>
                <a href="javascript:void(0);">购物车<span class="sn-cart">0</span>件</a>
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-down">
                <a href="javascript:void(0);">收藏夹</a>
                <i class="fa fa-sort-down"></i>
              </div>
              <div class="li-nav-slide li-nav-small">
                <a href="javascript:void(0);">收藏的宝贝</a><br>
                <a href="javascript:void(0);">收藏的店铺</a>
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-ds">
                <i class="fa fa-mobile"></i>
                <a href="javascript:void(0);">手机版</a>
              </div>
              <div class="li-nav-slide">
                <img src="https://img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png" alt="">
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-ds">
                <a href="javascript:void(0);">淘宝网</a>
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-down">
                <a href="javascript:void(0);">商家支持</a>
                <i class="fa fa-sort-down"></i>
              </div>
              <div class="li-nav-slide li-nav-middle">
                <section>商家：</section>
                <section><a href="javascript:void(0);">商家中心</a><a href="javascript:void(0);">天猫规则</a></section>
                <section><a href="javascript:void(0);">商家入驻</a><a href="javascript:void(0);">运营服务</a></section>
                <section><a href="javascript:void(0);">商家品控</a><a href="javascript:void(0);">商家工具</a></section>
                <section><a href="javascript:void(0);">天猫智库</a><a href="javascript:void(0);">喵言喵语</a></section>
                <hr>
                <section>帮助：</section>
                <section><a href="javascript:void(0);">帮助中心</a><a href="javascript:void(0);">问商友</a></section>
              </div>
            </li>
            <li class="sn-li">
              <div class="li-nav-top li-nav-down">
                <i class="fa fa-list-ul"></i>
                <a href="javascript:void(0);">网站导航</a>
                <i class="fa fa-sort-down"></i>
              </div>
              <div class="li-nav-slide li-nav-big">
                <div>
                  <section>热点推荐 Hot</section>
                  <section>
                    <a :href="href" v-for="navName in siteNav[0]">{{navName}}</a>
                  </section>
                </div>
                <div>
                  <section>行业市场 Market</section>
                  <section>
                    <a :href="href" v-for="navName in siteNav[1]">{{navName}}</a>
                  </section>
                </div>
                <div>
                  <section>服务指南 Help</section>
                  <section>
                    <a :href="href" v-for="navName in siteNav[2]">{{navName}}</a>
                  </section>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- header -->
    <div id="header">
      <div class="head-logo">
        <img src="https://img.alicdn.com/tfs/TB1MaLKRXXXXXaWXFXXXXXXXXXX-480-260.png" alt="logo img">
      </div>
      <div class="head-search">
        <div class="search-box">
          <input class="search-input" type="text" placeholder="搜索 天猫 商品/品牌/店铺">
          <input class="search-btn" type="button" value="搜索">
        </div>
        <div class="search-suggestion">
          <a :href="href" v-for="sg in searchSuggestion">{{sg}}</a>
        </div>
      </div>
      <div class="head-nav">
        <div class="hn-category">
          <i class="fa fa-list-ul"></i>
          <span>商品分类</span>
        </div>
        <div class="hn-list">
          <div>
            <a href="javascript:void(0);">
              <img src="https://img.alicdn.com/tfs/TB1ztBlaMMPMeJjy1XbXXcwxVXa-200-60.png" alt="">
            </a>
            <a href="javascript:void(0);">
              <img src="https://img.alicdn.com/tfs/TB1t5ObaBxRMKJjy0FdXXaifFXa-200-60.png" alt="">
            </a>
          </div>
          <div>
            <a :href="href" v-for="hn in headNav">{{hn}}</a>
          </div>
        </div>
      </div>
    </div>


    <!-- 页面主体内容 -->
    <div id="content">

      <!-- 目录列表和轮播图 -->
      <div id="content-wrap">
        <!-- 目录列表 -->
        <div id="category-wrap">
          <ul class="category-ul">
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">女装</a> /<a href="">内衣</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist1" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg1" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">男装</a> /<a href="">运动户外</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist2" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg2" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">女鞋</a> /<a href="">男鞋</a> /<a href="">箱包</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist3" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg3" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">美妆</a> /<a href="">个人护理</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist4" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg4" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">腕表</a> /<a href="">眼镜</a> /<a href="">眼镜</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist5" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg5" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">手机</a> /<a href="">数码</a> /<a href="">电脑办公</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist6" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg6" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">母婴玩具</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist7" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg7" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">零食</a> /<a href="">茶酒</a> /<a href="">进口食品</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist8" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg8" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">生鲜水果</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist9" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg9" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">大家电</a> /<a href="">生活电器</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist10" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg10" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">家具建材</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist11" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg11" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">汽车</a> /<a href="">配件</a> /<a href="">用品</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist12" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg12" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">家纺</a> /<a href="">家饰</a> /<a href="">鲜花</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist13" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg13" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">医药保健</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist14" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg14" :src="src"></cate-img>
                </div>
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">厨具</a> /<a href="">收纳</a> /<a href="">宠物</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist15" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <!-- <div class="cs-right">
                    <cate-img v-for="src in cateImg15" :src="src"></cate-img>
                  </div> -->
              </div>
            </li>
            <li class="category-li">
              <div class="cate-parent">
                <i class="fa fa-list-ul"></i>
                <span>
                  <a href="">图书音像</a>
                </span>
              </div>
              <div class="cate-sub">
                <div class="cs-left">
                  <cate-list v-for="list in catelist16" :title="list.title" :sub="list.sub"></cate-list>
                </div>
                <div class="cs-right">
                  <cate-img v-for="src in cateImg15" :src="src"></cate-img>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- 轮播图 -->
        <div id="slide-wrap">
          <div class="slide-imgs" style="left: -1230px;">
            <img src="https://img.alicdn.com/imgextra/i1/157/O1CN01XfqrP91D1wijbC9ck_!!157-0-lubanu.jpg_q100.jpg_.webp"
              alt="">
            <img src="https://img.alicdn.com/imgextra/i1/71/O1CN01xvKkVd1COYetc8pCE_!!71-0-luban.jpg_q100.jpg_.webp"
              alt="">
            <img src="https://img.alicdn.com/simba/img/TB1UjsYS4naK1RjSZFBSuwW7VXa.jpg" alt="">
            <img src="https://img.alicdn.com/tps/i4/TB13.T6X2WG3KVjSZFgSuvTspXa.jpg" alt="">
            <img src="https://img.alicdn.com/simba/img/TB17igWOVXXXXX6aVXXSutbFXXX.jpg" alt="">
            <img src="https://img.alicdn.com/imgextra/i1/55/O1CN011Pxcih1CHEK7zkwZh_!!55-0-luban.jpg_q100.jpg_.webp"
              alt="">
            <img src="https://img.alicdn.com/imgextra/i1/157/O1CN01XfqrP91D1wijbC9ck_!!157-0-lubanu.jpg_q100.jpg_.webp"
              alt="">
            <img src="https://img.alicdn.com/imgextra/i1/71/O1CN01xvKkVd1COYetc8pCE_!!71-0-luban.jpg_q100.jpg_.webp"
              alt="">
          </div>
          <div class="slide-dots">
            <span index="1" class="slide-on"></span>
            <span index="2"></span>
            <span index="3"></span>
            <span index="4"></span>
            <span index="5"></span>
            <span index="6"></span>
          </div>
          <div style="display: none;">
            <span id="pre">&lt;</span>
            <span id="next">&gt;</span>
          </div>
        </div>
      </div>

    </div>


    <!-- 新品展示列 -->
    <div id="brandWall">
      <brand-wall v-for="bw in b_wall" :class="bw.itemclass" :title="bw.title" :src="bw.src"></brand-wall>
    </div>


    <!-- 热门品牌-->
    <div id="newHotBrand">

    </div>

    <div id="newFloor">
      <!-- 天猫超市 -->
      <div id="tmallMart">
        <floor-line-name v-for="mart in marts" :src="mart.src" :word="mart.word"></floor-line-name>
        <div class="tmallmart-wrap">
          <big-banner-con v-for="bc in bannerCon1" :src="bc.src" :name1="bc.name1" :name2="bc.name2" :href="href">
          </big-banner-con>
          <div class="floor-sub-right-wrap">
            <div class="tmallmart-switch-item">

            </div>
            <price-item-wrap v-for="p in priceTags1" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <!-- 天猫国际 -->
      <div id="tmallHK">
        <floor-line-name v-for="hk in hks" :src="hk.src" :word="hk.word"></floor-line-name>
        <div class="tmallhk-left-wrap">
          <small-banner-con v-for="hk in bannerCon2" :src="hk.src" :name1="hk.name1" :name2="hk.name2" :href="href">
          </small-banner-con>
          <small-banner-con v-for="hk in bannerCon3" :src="hk.src" :name1="hk.name1" :name2="hk.name2" :href="href">
          </small-banner-con>
        </div>
        <div class="floor-sub-right-wrap">
          <a href="javascript:void(0);" class="price-item-wrap">
            <div class="fsrw-1">官方直营优选</div>
            <div class="fsrw-2">极致购物感受</div>
            <img src="https://img.alicdn.com/tps/i4/TB1TMWVeG5s3KVjSZFNSuwD3FXa.jpg" alt="" class="price-item-img">
          </a>
          <price-item-wrap v-for="p in priceTags2" :href="href" :src="p.src" :name="p.name" :price="p.price">
          </price-item-wrap>
        </div>
      </div>

      <div class="insertedImg">
        <img src="https://aecpm.alicdn.com/simba/img/TB1_EfIJFXXXXXOXFXXSutbFXXX.jpg" alt="">
      </div>

      <!-- 美丽人生 -->
      <div id="fashion-beauty">
        <div class="grid-wrap-name">美丽人生FASHION & BEAUTY</div>
        <div class="fb-wrap">
          <div class="fb-left-wrap">
            <big-banner-con v-for="fb in bannerCon4" :src="fb.src" :name1="fb.name1" :name2="fb.name2"></big-banner-con>
          </div>
          <div class="floor-sub-right-wrap">
            <price-item-wrap v-for="p in priceTags3" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <!-- 潮电酷玩 -->
      <div id="electronics">
        <div class="grid-wrap-name">潮电酷玩 ELECTRONICS</div>
        <div class="elec-wrap">
          <div class="elec-left-wrap">
            <big-banner-con v-for="elec in bannerCon5" :src="elec.src" :name1="elec.name1" :name2="elec.name2">
            </big-banner-con>
          </div>
          <div class="floor-sub-right-wrap">
            <price-item-wrap v-for="p in priceTags4" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <div class="insertedImg">
        <img src="https://aecpm.alicdn.com/simba/img/TB1tELGJFXXXXaLXFXXSutbFXXX.jpg" alt="">
      </div>

      <!-- 居家生活 -->
      <div id="grocery-health">
        <div class="grid-wrap-name">居家生活 GROCERY & HEALTH</div>
        <div class="grocery-wrap">
          <div class="grocery-left-wrap">
            <big-banner-con v-for="grocery in bannerCon6" :src="grocery.src" :name1="grocery.name1"
              :name2="grocery.name2"></big-banner-con>
          </div>
          <div class="floor-sub-right-wrap">
            <price-item-wrap v-for="p in priceTags5" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <!-- 打造爱巢 -->
      <div id="home">
        <div class="grid-wrap-name">打造爱巢 HOME</div>
        <div class="home-wrap">
          <div class="home-left-wrap">
            <big-banner-con v-for="home in bannerCon7" :src="home.src" :name1="home.name1" :name2="home.name2">
            </big-banner-con>
          </div>
          <div class="floor-sub-right-wrap">
            <price-item-wrap v-for="p in priceTags6" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <div class="insertedImg">
        <img src="https://aecpm.alicdn.com/simba/img/TB1x8DCJFXXXXc7XFXXSutbFXXX.jpg" alt="">
      </div>

      <!-- 户外出行 -->
      <div id="outders">
        <div class="grid-wrap-name">户外出行 OUTDOORS & AUTOMOTIVE</div>
        <div class="outdoors-wrap">
          <div class="outdoors-left-wrap">
            <big-banner-con v-for="outdoors in bannerCon8" :src="outdoors.src" :name1="outdoors.name1"
              :name2="outdoors.name2"></big-banner-con>
          </div>
          <div class="floor-sub-right-wrap">
            <price-item-wrap v-for="p in priceTags7" :href="href" :src="p.src" :name="p.name" :price="p.price">
            </price-item-wrap>
          </div>
        </div>
      </div>

      <!-- 猜你喜欢 -->
      <div id="guesslike">
        <div>
          <span>♥</span>
          <span>猜你喜欢</span>
        </div>
      </div>

      <div id="guesslikeAll">
        <price-item-wrap v-for="p in priceTags8" :href="href" :src="p.src" :name="p.name" :price="p.price">
        </price-item-wrap>
      </div>

    </div>

    <footer>
      <div id="footer-tmall-wrap">
        <div id="tmall-ensure">
          <a href="javascript:void(0);">
            <div class="t-a-left">优</div>
            <div class="t-a-right">
              <span>品质保障</span><br>
              <span>品质护航 购物无忧</span>
            </div>
          </a>
          <a href="javascript:void(0);">
            <div class="t-a-left">七</div>
            <div class="t-a-right">
              <span>七天无理由退换货</span><br>
              <span>为您提供售后无忧保障</span>
            </div>
          </a>
          <a href="javascript:void(0);">
            <div class="t-a-left">特</div>
            <div class="t-a-right">
              <span>特色服务体验</span><br>
              <span>为您呈现不一样的服务</span>
            </div>
          </a>
          <a href="javascript:void(0);">
            <div class="t-a-left">帮</div>
            <div class="t-a-right">
              <span>帮助中心</span><br>
              <span>您的购物指南</span>
            </div>
          </a>
        </div>
        <div id="tmall-desc">
          <div class="tmall-buy">
            <ul>
              <li>购物指南</li>
              <li>免费注册</li>
              <li>开通支付宝</li>
              <li>支付宝充值</li>
            </ul>
          </div>
          <div class="tmall-help">
            <ul>
              <li>天猫保障</li>
              <li>包票保障</li>
              <li>售后规则</li>
              <li>缺货赔付</li>
            </ul>
          </div>
          <div class="tmall-style">
            <ul>
              <li>支付方式</li>
              <li>快捷支付</li>
              <li>信用卡</li>
              <li>余额宝</li>
              <li>蚂蚁花呗</li>
              <li>货到付款</li>
            </ul>
          </div>
          <div class="tmall-service">
            <ul>
              <li>商家服务</li>
              <li>天猫规则</li>
              <li>商家入驻</li>
              <li>商家中心</li>
              <li>天猫智库</li>
              <li>物流服务</li>
              <li>喵言喵语</li>
              <li>运营服务</li>
            </ul>
          </div>
          <div class="tmall-qrcode">
            <ul>
              <li>手机天猫</li>
              <li>
                <img src="https://img.alicdn.com/tfscom/TB14MWoNhjaK1RjSZFAwu2dLFXa.png" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div id="tmall-copyright">
      <section>
        <div>
          <a href="javascript:void(0);">关于天猫</a>
          <a href="javascript:void(0);">帮助中心</a>
          <a href="javascript:void(0);">开放平台</a>
          <a href="javascript:void(0);">诚聘英才</a>
          <a href="javascript:void(0);">联系我们</a>
          <a href="javascript:void(0);">网站合作</a>
          <a href="javascript:void(0);">法律声明</a>
          <a href="javascript:void(0);">隐私权政策</a>
          <a href="javascript:void(0);">知识产权</a>
          <a href="javascript:void(0);">廉正举报</a>
          <a href="javascript:void(0);">规则意见征集</a>
        </div>
        <div>
          <a href="javascript:void(0);">阿里巴巴集团</a>
          <a href="javascript:void(0);">淘宝网</a>
          <a href="javascript:void(0);">天猫</a>
          <a href="javascript:void(0);">聚划算</a>
          <a href="javascript:void(0);">全球速卖通</a>
          <a href="javascript:void(0);">阿里巴巴国际交易市场</a>
          <a href="javascript:void(0);">1688</a>
          <a href="javascript:void(0);">阿里妈妈</a>
          <a href="javascript:void(0);">飞猪</a>
          <a href="javascript:void(0);">阿里云计算</a>
          <a href="javascript:void(0);">AliOS</a>
          <a href="javascript:void(0);">阿里通信</a>
          <a href="javascript:void(0);">万网</a>
          <a href="javascript:void(0);">高德</a>
          <a href="javascript:void(0);">UC</a>
          <a href="javascript:void(0);">友盟</a>
          <a href="javascript:void(0);">虾米</a>
          <a href="javascript:void(0);">钉钉</a>
          <a href="javascript:void(0);">支付宝</a>
        </div>
        <div>
          <span>
            增值电信业务经营许可证： <a href="javascript:void(0);">浙B2-20110446</a>
          </span>
          <span>市场名称登记证：工商网市字3301004119号</span>
          <span>出版物网络交易平台服务经营备案证： 新出发浙备字第001号 </span>
        </div>
        <div>
          <span>互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com</span>
          <span>互联网药品信息服务资质证书编号：<a href="javascript:void(0);">浙-（经营性）-2017-0005</a></span>
          <span><img src="https://img.alicdn.com/tps/TB1yEqRPXXXXXXPXpXXXXXXXXXX-20-20.png" alt=""><a
              href="javascript:void(0);">浙公网安备 33010002000120号</a></span>
        </div>
        <div>
          <span>医疗器械网络交易服务第三方平台备案：（浙）网械平台备字[2018]第00002号</span>
          <span>互联网药品交易服务资格证书：国A20150001</span>
        </div>
        <div>
          <span>浙江省网络食品销售第三方平台提供者备案：浙网食A33010002</span>
          <a href="javascript:void(0);"> 12318举报</a>
        </div>
        <div>
          <span>© 2003-2019 TMALL.COM 版权所有</span>
        </div>
        <div>
          <img src="https://img.alicdn.com/tps/i4/TB1j5gtHXXXXXXjaXXXydRxIFXX-73-30.jpg" alt="">
          <img src="https://img.alicdn.com/tps/i1/TB13mgzHXXXXXbjXVXXzby4IVXX-80-30.jpg" alt="">
        </div>
      </section>
    </div>

  </div>

  <div id="nav-bar">
    <section>导航</section>
    <section>天猫超市</section>
    <section>天猫国际</section>
    <section>美丽人生</section>
    <section>潮电酷玩</section>
    <section>居家生活</section>
    <section>打造爱巢</section>
    <section>户外出行</section>
    <section>猜你喜欢</section>
    <section>顶部</section>
  </div>

  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/script.vue.js"></script>
</body>

</html>