<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天猫</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="css/site-nav.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/content.css">
</head>

<body class="w1230">

  <!-- 导航页开始 -->
  <div id="site-nav">
    <div class="sn-container">
      <div class="sn-left">
        <a href="javascript:void(0);">喵，欢迎来天猫</a>
        <a href="javascript:void(0);">请登录</a>
        <a href="javascript:void(0);">免费注册</a>
      </div>
      <div class="sn-right">
        <ul class="sn-ul">
          <li class="sn-li">
            <div class="li-nav-top li-nav-down">
              <a href="javascript:void(0);">我的淘宝</a>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="li-nav-slide li-nav-small">
              <a href="javascript:void(0);">已买到的宝贝</a><br>
              <a href="javascript:void(0);">已卖出的宝贝</a>
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-ds">
              <i class="fa fa-shopping-cart"></i>
              <a href="javascript:void(0);">购物车<span class="sn-cart">0</span>件</a>
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-down">
              <a href="javascript:void(0);">收藏夹</a>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="li-nav-slide li-nav-small">
              <a href="javascript:void(0);">收藏的宝贝</a><br>
              <a href="javascript:void(0);">收藏的店铺</a>
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-ds">
              <i class="fa fa-mobile"></i>
              <a href="javascript:void(0);">手机版</a>
            </div>
            <div class="li-nav-slide">
              <img src="https://img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png" alt="">
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-ds">
              <a href="javascript:void(0);">淘宝网</a>
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-down">
              <a href="javascript:void(0);">商家支持</a>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="li-nav-slide li-nav-middle">
              <section>商家：</section>
              <section><a href="javascript:void(0);">商家中心</a><a href="javascript:void(0);">天猫规则</a></section>
              <section><a href="javascript:void(0);">商家入驻</a><a href="javascript:void(0);">运营服务</a></section>
              <section><a href="javascript:void(0);">商家品控</a><a href="javascript:void(0);">商家工具</a></section>
              <section><a href="javascript:void(0);">天猫智库</a><a href="javascript:void(0);">喵言喵语</a></section>
              <hr>
              <section>帮助：</section>
              <section><a href="javascript:void(0);">帮助中心</a><a href="javascript:void(0);">问商友</a></section>
            </div>
          </li>
          <li class="sn-li">
            <div class="li-nav-top li-nav-down">
              <i class="fa fa-list-ul"></i>
              <a href="javascript:void(0);">网站导航</a>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="li-nav-slide li-nav-big">
              <div>
                <section>热点推荐 Hot</section>
                <section>
                  <a :href="href" v-for="navName in siteNav[0]">{{navName}}</a>
                </section>
              </div>
              <div>
                <section>行业市场 Market</section>
                <section>
                  <a :href="href" v-for="navName in siteNav[1]">{{navName}}</a>
                </section>
              </div>
              <div>
                <section>服务指南 Help</section>
                <section>
                  <a :href="href" v-for="navName in siteNav[2]">{{navName}}</a>
                </section>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 导航页结束 -->


  <!-- header开始 -->
  <div id="header">
    <div class="head-logo">
      <img src="https://img.alicdn.com/tfs/TB1MaLKRXXXXXaWXFXXXXXXXXXX-480-260.png" alt="logo img">
    </div>
    <div class="head-search">
      <div class="search-box">
        <input class="search-input" type="text" placeholder="搜索 天猫 商品/品牌/店铺">
        <input class="search-btn" type="button" value="搜索">
      </div>
      <div class="search-suggestion">
        <a :href="href" v-for="sg in searchSuggestion">{{sg}}</a>
      </div>
    </div>
    <div class="head-nav">
      <div class="hn-category">
        <i class="fa fa-list-ul"></i>
        <span>商品分类</span>
      </div>
      <div class="hn-list">
        <div>
          <a href="javascript:void(0);">
            <img src="https://img.alicdn.com/tfs/TB1ztBlaMMPMeJjy1XbXXcwxVXa-200-60.png" alt="">
          </a>
          <a href="javascript:void(0);">
            <img src="https://img.alicdn.com/tfs/TB1t5ObaBxRMKJjy0FdXXaifFXa-200-60.png" alt="">
          </a>
        </div>
        <div>
          <a :href="href" v-for="hn in headNav">{{hn}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- header结束 -->


  <!-- 页面主体内容开始 -->
  <div id="content">

    <!-- 目录列表和轮播图 -->
    <div id="content-wrap">
      <!-- 目录列表 -->
      <div id="category-wrap">
        <ul class="category-ul">
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">女装</a> /<a href="">内衣</a>
              </span>
            </div>
            <div class="cate-sub">
              <div class="cs-left">
                <div class="csl">
                  <div>当季流行</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[0]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>精选上装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[1]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>浪漫裙装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[2]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>女士下装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[3]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>特色女装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[4]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>文胸塑身</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[5]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>家居服</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[6]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>内裤背心</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[7]">{{cl}}</a>
                  </div>
                </div>
              </div>
              <div class="cs-right">
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1B_DcJpXXXXXWXFXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/i4/T1gRqVXk4fXXb1upjX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1wNJAHFXXXXc7XpXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1w472LFXXXXXwXVXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1fETUHpXXXXbmapXXwu0bFXXX.png_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1UJIfJXXXXXctaXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1FfxjHFXXXXbWaXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB18XAnIVXXXXclXXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1gWxjFFXXXXcEaFXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/http://img.taobaocdn.com/bao/uploaded/TB1HMfoHpXXXXclXXXXwu0bFXXX.png_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB18nTOLVXXXXc5XXXXXXXXXXXX-1000-500.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB1wzzFLVXXXXbXXFXXXXXXXXXX-400-200.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB1SvLzLVXXXXaKXVXXXXXXXXXX-1000-500.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB17DDrLVXXXXbOaXXXXXXXXXXX-1000-500.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB1dSYULVXXXXXlXXXXXXXXXXXX-1000-500.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/TB1xPvNLVXXXXXDXpXXXXXXXXXX-1000-500.jpg_170x120q30.jpg" alt=""></a>
              </div>
            </div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">女鞋</a> /<a href="">男鞋</a> /<a href="">箱包</a>
              </span>
            </div>
            <div class="cate-sub">
              <div class="cs-left">
                <div class="csl">
                  <div>当季流行</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[8]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>男士外套</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[9]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>男士内搭</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[10]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>男士裤装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[11]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>特色男装</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[12]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>运动鞋</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[13]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>运动服</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[14]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>户外鞋服</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[15]">{{cl}}</a>
                  </div>
                </div>
              </div>
              <div class="cs-right">
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1QgL7LFXXXXboXFXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB18HHTLFXXXXaJaXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1B6.BLFXXXXXZXXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1krn7LFXXXXbVXFXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1Im6ULFXXXXapaXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB16BD9LFXXXXXhXFXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1KtC.LVXXXXauaXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/bao/uploaded/TB1eFwrLFXXXXacXXXXSutbFXXX.jpg_170x120q30.jpg" alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i2/TB1MDj0LVXXXXaNXpXXXpJt1pXX-1000-500.jpg_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i2/TB1rGn5LVXXXXcZXXXXXpJt1pXX-1000-500.jpg_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i4/TB1gAvVLVXXXXbeXFXXPqXt1pXX-1000-500.png_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i2/TB1ORPWLVXXXXX1XFXXPqXt1pXX-1000-500.png_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i3/TB1vifWLVXXXXc6XpXXXpJt1pXX-1000-500.jpg_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/imgextra/i1/414285109/TB273rQaazyQeBjy0FbXXbZapXa_!!414285109.png_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i1/TB1NBn3LVXXXXXyXpXXXpJt1pXX-1000-500.jpg_170x120q30.jpg"
                    alt=""></a>
                <a href="javascript:void(0);"><img
                    src="https://img.alicdn.com/tps/i4/TB1F3PILVXXXXcZapXXXpJt1pXX-1000-500.jpg_170x120q30.jpg"
                    alt=""></a>
              </div>
            </div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">美妆</a> /<a href="">个人护理</a>
              </span>
            </div>
            <div class="cate-sub">
              <div class="cs-left">
                <div class="csl">
                  <div>推荐女鞋</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[16]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>潮流男鞋</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[17]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>女单鞋</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[18]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>特色鞋</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[19]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>潮流女包</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[20]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>精品男包</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[21]">{{cl}}</a>
                  </div>
                </div>
                <div class="csl">
                  <div>功能箱包</div>
                  <div class="csl-1">
                    <a :href="href" v-for="cl in catelist[22]">{{cl}}</a>
                  </div>
                </div>
              </div>
              <div class="cs-right"></div>
            </div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">腕表</a> /<a href="">眼镜</a> /<a href="">眼镜</a>
              </span>
            </div>
            <div class="cate-sub">
              
            </div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">手机</a> /<a href="">数码</a> /<a href="">电脑办公</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">母婴玩具</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">零食</a> /<a href="">茶酒</a> /<a href="">进口食品</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">生鲜水果</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">大家电</a> /<a href="">生活电器</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">家具建材</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">汽车</a> /<a href="">配件</a> /<a href="">用品</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">家纺</a> /<a href="">家饰</a> /<a href="">鲜花</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">医药保健</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">厨具</a> /<a href="">收纳</a> /<a href="">宠物</a>
              </span>
            </div>
            <div class="cate-sub"></div>
          </li>
          <li class="category-li">
            <div class="cate-parent">
              <i class="fa fa-list-ul"></i>
              <span>
                <a href="">图书音像</a>
              </span>
            </div>
            <div class="cate-sub">
              151515
            </div>
          </li>
        </ul>
      </div>
      <!-- 轮播图 -->
      <div id="slide-wrap">
        <div class="slide-imgs" style="left: -1230px;">
          <img src="https://img.alicdn.com/imgextra/i1/157/O1CN01XfqrP91D1wijbC9ck_!!157-0-lubanu.jpg_q100.jpg_.webp"
            alt="">
          <img src="https://img.alicdn.com/imgextra/i1/71/O1CN01xvKkVd1COYetc8pCE_!!71-0-luban.jpg_q100.jpg_.webp"
            alt="">
          <img src="https://img.alicdn.com/simba/img/TB1UjsYS4naK1RjSZFBSuwW7VXa.jpg" alt="">
          <img src="https://img.alicdn.com/tps/i4/TB13.T6X2WG3KVjSZFgSuvTspXa.jpg" alt="">
          <img src="https://img.alicdn.com/simba/img/TB17igWOVXXXXX6aVXXSutbFXXX.jpg" alt="">
          <img src="https://img.alicdn.com/imgextra/i1/55/O1CN011Pxcih1CHEK7zkwZh_!!55-0-luban.jpg_q100.jpg_.webp"
            alt="">
          <img src="https://img.alicdn.com/imgextra/i1/157/O1CN01XfqrP91D1wijbC9ck_!!157-0-lubanu.jpg_q100.jpg_.webp"
            alt="">
          <img src="https://img.alicdn.com/imgextra/i1/71/O1CN01xvKkVd1COYetc8pCE_!!71-0-luban.jpg_q100.jpg_.webp"
            alt="">
        </div>
        <div class="slide-dots">
          <span index="1" class="slide-on"></span>
          <span index="2"></span>
          <span index="3"></span>
          <span index="4"></span>
          <span index="5"></span>
          <span index="6"></span>
        </div>
        <div style="display: none;">
          <span id="pre">&lt;</span>
          <span id="next">&gt;</span>
        </div>
      </div>
    </div>


    <!-- 新品展示列 -->
    <div id="brandWall"></div>
    <!-- 热门品牌 -->
    <div id="newHotBrand"></div>

  </div>
  <!-- 页面主体结束 -->


  <!-- footer开始 -->
  <div id="footer"></div>
  <!-- footer结束 -->

  <!-- <script src="https://cdn.bootcss.com/react/16.8.6/umd/react.development.js"></script> -->
  <!-- <script src="https://cdn.bootcss.com/react-dom/16.8.6/umd/react-dom.development.js"></script> -->
  <!-- <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script> -->
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/script.vue.js"></script>
</body>

</html>