#content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background: lightgray;
  border-top: 2px solid #f00;
}
#content-wrap{
  position: relative;
  margin: 0 auto;
  width: 1230px;
  height: 500px;
  overflow: hidden;
}


/* 轮播图样式开始 */
#slide-wrap{
  position: absolute;
  width: 1230px;
  overflow: hidden;
}
.slide-imgs{
  position: relative;
  width: 9840px;
}
.slide-imgs img{
  float: left;
  width: 1230px;
  height: 500px;
}
.slide-dots{
  position: absolute;
  top: 450px;
  left: 400px;
}
.slide-dots span{
  display: inline-block;
  width: 40px;
  height: 5px;
  background: #fff;
  cursor: pointer;
}
.slide-on{
  box-shadow: 0 0 2px 2px #f00;
}
/* 轮播图样式结束 */


/* 目录列表样式开始 */
#category-wrap{
  position: absolute;
  z-index: 99;
  width: 200px;
  height: 500px;
  background: rgba(0, 0, 0, .5);
}
.category-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.category-li{
  height: 33.3px;
  line-height: 33.3px;
}
.category-li:hover{
  background: #fff;
}
.category-li:hover span{
  color: #000;
}
.category-li:hover span a{
  color: #000;
}
.category-li:hover i{
  color: #000;
}
.cate-parent i{
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.cate-parent span{
  color: #fff;
}
.cate-parent span a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.cate-sub{
  position: absolute;
  top: 0;
  left: 200px;
  width: 850px;
  height: 500px;
  background: #fff;
  display: none;
}
.cate-sub > div{
  float: left;
}
.category-li:hover .cate-sub{
  display: block;
}
.csl{
  width: 600px;
  clear: both;
}
.csl:not(:first-child){
  border-top: 1px dotted gray;
}
.csl > div{
  float: left;
}
.csl > div:nth-of-type(1){
  width: 100px;
}
.csl-1{
  width: 500px;
}
.csl-1 a{
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
.cs-right{
  position: relative;
  left: 40px;
  width: 200px;
}
.cs-right a{
  float: left;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, .1);
}
.cs-right a img{
  width: 80px;
}
/* 目录列表样式结束 */