html,body{
    background-color: #f5f5f5;
}
#header {
    position: relative;
    margin: 0 auto;
    width: 1230px;
    height: 165px;
}

#header>div {
    display: inline-block;
}

.head-logo {
    width: 240px;
    height: 130px;
}

.head-logo img {
    width: 240px;
    height: 130px;
}

.head-search {
    position: relative;
    top: -30px;
    left: 100px;
}

.search-box {
    width: 619px;
    height: 38px;
    border: 2px solid #FF0036;
}

.search-input {
    position: absolute;
    width: 485px;
    height: 35px;
    outline: none;
    border: none;
    text-indent: 5px;
}

.search-btn {
    position: absolute;
    left: 489px;
    top: 2px;
    border: none;
    outline: none;
    width: 132px;
    height: 38px;
    background-color: #FF0036;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.search-suggestion a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.search-suggestion a:nth-of-type(2), .search-suggestion a:nth-of-type(4), .search-suggestion a:nth-of-type(7), .search-suggestion a:nth-of-type(9) {
    color: #FF0036;
}

.head-nav {
    position: relative;
    width: 1230px;
    height: 36px;
}

.head-nav>div {
    float: left;
}

.hn-category {
    position: relative;
    top: -4px;
    width: 200px;
    height: 36px;
    background-color: #FF0036;
    color: #fff;
}

.hn-category i {
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    margin-right: 5px;
}

.hn-list>div {
    float: left;
}

.hn-list>div:nth-of-type(1) a {
    display: inline-block;
    width: 100px;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
}

.hn-list>div:nth-of-type(1) a img {
    width: 100px;
}

.hn-list>div:nth-of-type(2) a {
    display: inline-block;
    min-width: 64px;
    margin-left: 5px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.hn-list>div:nth-of-type(2) a:hover {
    color: #FF0036;
}