html,body{
    width: 100%;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

#site-nav{
    width: 100%;
    height: 32px;
    background-color: #a9180a;
}
.sn-container{
    position: relative;
    margin: 0 auto;
    width: 1230px;
    height: 32px;
}

.sn-left,
.sn-right{
    float: left;
}
.sn-left{
    height: 32px;
    line-height: 32px;
}
.sn-right{
    position: relative;
    margin-left: 243px;
}
.sn-left a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-right: 10px;
}
.sn-ul{
    list-style-type: none;
    margin: 0;
}
.sn-li{
    float: left;
    height: 31px;
    line-height: 31px;
}
.sn-li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.sn-li i{
    color: #fff;
    font-size: 12px;
}
.li-nav-top{
    min-width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}
.li-nav-slide{
    position: absolute;
    min-width: 100px;
    display: none;
    border: 1px solid;
    border-color: transparent lightgray lightgray lightgray;
    background: #fff;
    z-index: 999;
    box-sizing: border-box;
}
.li-nav-slide a{
    color: #000;
}
.sn-li:hover .li-nav-slide{
    display: block;
}
.sn-li:hover .li-nav-down{
    background: #fff;
}
.sn-li:hover .li-nav-down a,
.li-nav-down:hover a{
    text-decoration: underline;
    color: #FF0036;
}
.li-nav-down:hover i{
    color: #ddd;
}
.li-nav-small a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.li-nav-small a:hover{
    color: #FF0036;
    text-decoration: underline;
}
.li-nav-ds:hover a,
.li-nav-ds:hover i{
    color: yellow;
}
.li-nav-middle{
    position: absolute;
    right: 100px;
    width: 140px;
}
.li-nav-middle section{
    margin-left: 10px;
}
.li-nav-middle section a:nth-of-type(2){
    margin-left: 10px;
}
.li-nav-middle section a:hover{
    color: #FF0036;
    text-decoration: underline;
}
.li-nav-big{
    position: absolute;
    left: -464px;
    width: 1230px;
    height: 160px;
}
.li-nav-big div{
    margin-top: 15px;
    float: left;
}
.li-nav-big div:nth-of-type(1),
.li-nav-big div:nth-of-type(2){
    width: 500px;
}
.li-nav-big div:nth-of-type(3){
    width: 200px;
}
.li-nav-big section:nth-of-type(1){
    margin-left: 20px;
}
.li-nav-big section:nth-of-type(2) a{
    display: inline-block;
    width: 90px;
    text-indent: 20px;
}
.li-nav-big section:nth-of-type(2) a:hover{
    color: #FF0036;
    text-decoration: underline;
}